docs/NiFi_Flow.json
{"flowContents":{"identifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"400fcf51-8516-32c2-b2af-0b0503f4a1ed","name":"LogMessage","comments":"","position":{"x":1536.0,"y":136.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"e591e8c3-9414-3e83-bca6-1f76e5d26249","name":"InvokeHTTP","comments":"","position":{"x":920.0,"y":136.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://localhost:8080/sensorlogs/updateCheck","Content-Type":"application/json","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"PUT","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"b6ce7aff-1b68-3c43-9a73-c178e00fb141","name":"GetMongo","comments":"","position":{"x":296.0,"y":136.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.mongodb.GetMongo","properties":{"mongo-client-service":null,"mongo-charset":"UTF-8","ssl-context-service":null,"Query":null,"ssl-client-auth":"REQUIRED","mongo-date-format":"yyyy-MM-dd'T'HH:mm:ss'Z'","json-type":"Standard","Projection":null,"Mongo Database Name":"test","mongo-query-attribute":null,"results-per-flowfile":null,"Mongo URI":"mongodb://localhost:27017/","Batch Size":null,"Mongo Collection Name":"sensorLog","Sort":"{ \"_id\" : -1}","use-pretty-printing":"true","Limit":"1","get-mongo-send-empty":"false"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"mongo-charset":{"name":"mongo-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"mongo-date-format":{"name":"mongo-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"json-type":{"name":"json-type","displayName":"JSON Type","identifiesControllerService":false,"sensitive":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false},"results-per-flowfile":{"name":"results-per-flowfile","displayName":"Results Per FlowFile","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false},"use-pretty-printing":{"name":"use-pretty-printing","displayName":"Pretty Print Results JSON","identifiesControllerService":false,"sensitive":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false},"get-mongo-send-empty":{"name":"get-mongo-send-empty","displayName":"Send Empty Result","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"65c37327-0cb6-318e-b20b-dc9d895f25b6","name":"ListenHTTP","comments":"","position":{"x":296.0,"y":-152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ListenHTTP","properties":{"Base Path":"contentListener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"multipart-request-max-size":"1 MB","Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","Listening Port":"9091","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*"},"propertyDescriptors":{"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized DN Pattern","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"ac48d7ba-da9a-3fa9-9fb0-fb4fc34f0dfd","name":"LogAttribute","comments":"","position":{"x":1528.0,"y":-144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"windows-1252","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"ed15db9f-9773-3369-801b-852b9bc67d5f","name":"PutMongo","comments":"","position":{"x":920.0,"y":-144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.mongodb.PutMongo","properties":{"mongo-client-service":null,"Upsert":"false","ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mode":"insert","Mongo Database Name":"test","Mongo URI":"mongodb://localhost:27017/","Update Query Key":null,"Mongo Collection Name":"sensorLog","putmongo-update-query":null,"put-mongo-update-mode":"doc","Write Concern":"ACKNOWLEDGED","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9fc92ece-08ca-3041-a5a5-142d79339a63","name":"","source":{"id":"65c37327-0cb6-318e-b20b-dc9d895f25b6","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"ListenHTTP","comments":""},"destination":{"id":"ed15db9f-9773-3369-801b-852b9bc67d5f","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"PutMongo","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"6e90ddc2-1db0-3d5a-aa2a-11cbf56b4dcd","name":"","source":{"id":"b6ce7aff-1b68-3c43-9a73-c178e00fb141","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"GetMongo","comments":""},"destination":{"id":"e591e8c3-9414-3e83-bca6-1f76e5d26249","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"e5201af2-7b04-31fd-8070-314cfece55e5","name":"","source":{"id":"e591e8c3-9414-3e83-bca6-1f76e5d26249","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"InvokeHTTP","comments":""},"destination":{"id":"ac48d7ba-da9a-3fa9-9fb0-fb4fc34f0dfd","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"bf0043f0-4542-3d5a-be42-04298e48bcb8","name":"","source":{"id":"e591e8c3-9414-3e83-bca6-1f76e5d26249","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"InvokeHTTP","comments":""},"destination":{"id":"400fcf51-8516-32c2-b2af-0b0503f4a1ed","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"c8bc5e62-7e54-3ac3-913f-50f0043279c7","name":"","source":{"id":"ed15db9f-9773-3369-801b-852b9bc67d5f","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"PutMongo","comments":""},"destination":{"id":"b6ce7aff-1b68-3c43-9a73-c178e00fb141","type":"PROCESSOR","groupId":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87","name":"GetMongo","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"62a75a9a-832e-3dc0-b48c-72c85cfc28dd","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"798e5b40-4332-32c9-b8a4-5f9c75e330cb","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"1.13.2"}}],"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":null,"mongo-uri":"mongodb://localhost:27017"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"},{"identifier":"881de7cd-a7ca-3490-920f-ebfc9aadd6bd","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9cac2c8e-4e4c-3ed3-bd3b-3e570f1e1f87"}],"variables":{},"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}